<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="../static/normalize.css"/>
        <link rel="stylesheet" href="../static/styles.css"/>
        <!-- <li><a href='/logout'>Logout</a></li> Add conditional if 'logged in, display Logout. Else display....-->
    </head>
<body>
    <div class='container'>
    <nav>
        <ul>
            <li class='nav'><a href='/blog'>Main Blog Page</a></li>
            <li><a href='/newpost'>Add a Blog Entry</a></li>
            
        </ul>
    </nav>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages%}
            {% for category, message in messages%}
            <p class={{category}}>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</div>
</body>
</html>