{% extends 'base.html' %}


{% block content %}
<p>Don't have an account? <a href='/signup'>Signup here</a></p>
<form method='POST'>
  <table>
      <thead><h2>Log in to The Lost Bee Blog Space!</h2>
      </thead>
      <tbody>
          <tr>
            <td>
                <label for="username">Username</label> 
              </td>
              <td> 
                <input name="username" type="text" value="{{username}}" /> 
                
             </td>
          </tr>
          <tr>
            <td>
              <label for="pw">Password</label>
            </td>
            <td>  
              <input name="pw" type="password" /> 
            </td>
           
        </tr>
        <tr>
            <td>
              <input name="submit" type="submit" value="Submit" />
            </td>

        </tr>         
    </tbody>
    
  
</table>
</form>

{% endblock %}